@font-face {
	font-family: 'Compacta';
	src: url('../assets/fonts/compacta.woff2');
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

$black: #1e1e1e;
$yellow: #fee212;

html {
	height: 100%;
	overflow-x: hidden;
}

html * {
	margin: 0;
}

body {
    background-color: $black;
    font-family: 'Montserrat';
    font-size: 15px;

    @media(max-width: 768px) {
		font-size: 13px;
	}
}

.container {
	max-width: 1124px;
	padding: 0;

	@media(max-width: 992px) {
		max-width: 748px;
	}

	@media(max-width: 768px) {
		max-width: 94%;
	}
}

h1 {
	font-family: 'Compacta';
	font-size: 70px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $yellow;

	@media(max-width: 992px) {
		font-size: 50px;
	}

	@media(max-width: 768px) {
		font-size: 40px;
	}
}

header {
	display: flex;
	padding: 5px 20px;

	.container {
		display: flex;
		align-items: center;

		h1 {
			font-size: 25px;
			font-weight: 400;
			line-height: 0;
			margin-top: 4px;
			width: 30%;

			@media(max-width: 768px) {
				display: none;
			}
		}

		nav {
			width: 70%;
			text-align: right;

			@media(max-width: 768px) {
				width: 100%;
				text-align: center;
			}
 		}

		ul {
			list-style: none;

			@media(max-width: 768px) {
				padding: 0;
			}
		}

		li {
			display: inline;
			margin: 0 10px;
			font-size: 13px;
			font-weight: 700;
		}

		a {
			color: $yellow;
			text-decoration: none;
			position: relative;
			transition: .15s ease-in-out;
		}

		li a:before {
			content: '';
			display: block;
			height: 1px;
			width: 100%;
			background-color: #ffffff;
			position: absolute;
			bottom: -3px;
			right: 0px;
			transform: translateX(100%);
			visibility: hidden;
			transition: .15s ease-in-out;
		}

		a:hover {
			color: #ffffff;
		}

		li a:hover:before {
			transform: translateX(0%);
			visibility: visible;
		}
	}
}

.hero, .mobile-hero {
	height: 580px;
	width: 100%;
	background-image: linear-gradient(rgba(30,30,30,.9), rgba(30,30,30,.9)), url('../assets/images/hero-background.jpg');
	background-size: cover;
	position: relative;

	@media(max-width: 768px) {
		height: auto;
		padding-top: 10px;
	}

	.hero-content {
		background-image: url('../assets/images/yellow-bar.png');
		background-size: 100% 38%;
		background-position: 50% 45%;
		background-repeat: no-repeat;
		height: 100%;

		@media(max-width: 768px) {
			background: none;
		}

		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;	
			height: 100%;
		}
	}

	.hero-text {
		text-align: center;
		margin-left: 30%;
		margin-bottom: 30px;

		@media(max-width: 1200px) {
			margin-left: 40%;
		}

		@media(max-width: 768px) {
			display: none;
		}

		h1 {
			color: #1e1e1e;
			font-size: 80px;
			text-shadow: 2px 2px 15px #f9f0af, -2px -2px 15px #f9f0af, 
						 2px 2px 15px #f9f0af, -2px -2px 15px #f9f0af,
						 2px 2px 15px #f9f0af, -2px -2px 15px #f9f0af, 
						 2px 2px 15px #f9f0af, -2px -2px 15px #f9f0af,
						 2px 2px 15px #f9f0af, -2px -2px 15px #f9f0af, 
						 2px 2px 15px #f9f0af, -2px -2px 15px #f9f0af,
						 2px 2px 15px #f9f0af, -2px -2px 15px #f9f0af,
						 2px 2px 15px #f9f0af, -2px -2px 15px #f9f0af,
						 2px 2px 15px #f9f0af, -2px -2px 15px #f9f0af,
						 2px 2px 15px #f9f0af, -2px -2px 15px #f9f0af,
						 2px 2px 15px #f9f0af, -2px -2px 15px #f9f0af,
						 2px 2px 15px #f9f0af, -2px -2px 15px #f9f0af;

			@media(max-width: 768px) {
				font-size: 60px;
			}
		}

		h2 {
			font-family: 'Montserrat';
			font-weight: 400;
			font-size: 18px;
			text-transform: uppercase;

			@media(max-width: 768px) {
				font-size: 14px;
			}
		}
	}
}

.sticker {
	height: 500px;
	width: auto;
	position: absolute;
	bottom: 55px;
	left: 35%;
	transform: translateX(-35%);

	@media(max-width: 992px) {
		transform: translateX(-70%);
	}

	@media(max-width: 768px) {
		position: relative;
		height: 350px;
		bottom: 0;
		left: 0;
		transform: none;
	}
}

.mobile-hero {
	@media(min-width: 769px) {
		display: none;
	}

	background: #f5d801;
	padding: 40px 0;

	.hero-text {
		display: block;
		margin: 0;
	}
}

.about-me-row {
	height: 550px;
	padding: 0 20px;

	@media(max-width: 768px) {
		height: auto;
		padding: 40px 0;
	}

	@media (max-width: 499px) {
		padding: 40px 20px;
	}
}

.about-me {
	display: flex;
	justify-content: center;
	height: 450px;
	background-color: $black;
	border: 6px solid #ffffff;
	border-radius: 40px;
	margin-top: -60px;
	position: relative;
	z-index: 2;

	@media(max-width: 768px) {
		margin-top: 0;
		height: auto;
		flex-direction: column;
		max-width: 65%;
	}

	@media(max-width: 499px) {
		max-width: 100%;
	}


	.left-side {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 50%;
		height: 100%;

		@media(max-width: 768px) {
			display: block;
			width: 100%;
		}

		h1 {
			margin-left: 100px;
			width: 100%;
			line-height: 1;

			@media(max-width: 768px) {
				margin: 0;
				padding: 40px 0;
				text-align: center;
			}
		}

		h1:after {
			content: '';
			height: 1px;
			width: 100%;
			background-color: #ffffff;
			display: block;
			margin-left: 100px;

			@media(max-width: 768px) {
				display: none;
			}
		}
	}

	.right-side {
		width: 50%;
		height: 100%;
		background-color: #ffffff;
		border-radius: 0 30px 30px 0;
		display: flex;
		align-items: center;
		justify-content: center;

		@media(max-width: 768px) {
			width: 101%;
			display: block;
			padding: 40px 0;
			border-radius: 0 0 30px 30px;
			margin-bottom: -1px;
		}

		p {
			max-width: 350px;
			margin: 0 40px;

			@media(max-width: 768px) {
				padding: 0 20px;
				margin: auto;
			}
		}

		.buzz-word {
			color: #90273b;
			font-weight: 500;
			white-space: nowrap;

			@media(max-width: 499px) {
				white-space: normal;
			}

			.gold {
				color: #CEB888;
				text-shadow: 0 0 1px #d3d3d3;
			}

			.black {
				color: #000000;
			}
		}
	}
}

.torn-picture-row {

	.torn-picture {
		width: 100%;
	}
}

.portfolio-title-row {
	padding-bottom: 20px;

	h1 {
		text-align: center;
	}
}

.portfolio-row {
	height: 500px;
	background-color: #ffffff;
	display: flex;

	@media(max-width: 768px) {
		flex-direction: column;
		height: auto;
		padding: 40px 20px;
	}

	.left-side {
		width: 100%;
		max-width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media(max-width: 768px) {
			max-width: 100%;
		}

		h2 {
			text-transform: uppercase;
			text-align: left;
			font-size: 22px;

			@media(max-width: 768px) {
				font-size: 14px;
			}
		}

		.logos-container {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			max-width: 500px;
		}

		.logo {
			height: 50px;
			margin: 15px;
			display: flex;
			padding: 3px;
			transform: scale(.9);
			transition: .2s ease-in-out;

			@media(max-width: 768px) {
				max-width: 110px;
				height: 40px;
			}		
		}

		.logo:hover {
			transform: scale(1);
		}
	}

	.right-side {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		max-width: 50%;
		width: 100%;

		@media(max-width: 768px) {
			max-width: 100%;
			padding-top: 20px;
		}		

		.macbook-container {
			position: relative;
			max-width: 90%;

			@media(max-width: 768px) {
				max-width: 100%;
			}
		}

		.macbook-background {
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			position: absolute;
			height: 100%;
			width: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			transition: .5s ease;

			&.allin {
				background-image: url('../assets/images/allin.png');
				width: 80%;
				opacity: 1;
			}
			&.beaverbrook {
				background-image: url('../assets/images/beaverbrookah.png');
				width: 95%;
				opacity: 1;
			}
			&.encore {
				background-image: url('../assets/images/encorevet.png');
				width: 95%;
				opacity: 1;
			}
			&.mendocino {
				background-image: url('../assets/images/mendocinoah.png');
				opacity: 1;
			}
			&.skinlab {
				background-image: url('../assets/images/skinlab.png');
				width: 85%;
				opacity: 1;
			}
		}

		.macbook{
			position: relative;
			z-index: 2;
			overflow: hidden;
			width: 100%;
		}
	}
}

.contact-row {
	height: 650px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image:  linear-gradient(rgba(30,30,30,.9), rgba(30,30,30,.9)), url('../assets/images/stranger.png');
	background-size: 70%;
	background-position: bottom left;
	background-attachment: fixed;
	background-repeat: no-repeat;

	@media(max-width: 992px) {
		height: 500px;
	}

	@media(max-width: 768px) {
		height: 450px;
	}

	form {
		width: 100%;
	}

	.form-control {
		max-width: 500px;
		margin: 20px auto;

		@media(max-width: 768px) {
			font-size: 13px;
		}
	}

	button.form-control {
		max-width: 200px;
		border: 2px solid $black;
		color: $black;
		background-color: $yellow;
		margin-bottom: 0;
		transition: .3s ease;

		@media(max-width: 768px) {
			max-width: 100px;
		}

		&:hover {
			background-color: $black;
			color: $yellow;
			border-color: $yellow;
		}
	}
}
















